@media (max-width:700px){
    .containerMountainMenu{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 200px ;
        height: 100px;
        margin-left: 64vw;
        /*margin-right: 65vw;*/
        
    }
    .mountainMenu{
        display:block;
        background: url("../imagenes/hamburguermenu\ personalizado.svg");
        background-size: cover;
        background-position: center;
        border: none;
        box-sizing: border-box;
        width: 50px;
        height: 40px;
        cursor: pointer;
        transform: translateY(-10px);
    }

    .navMenu{
        align-items: baseline;
    }
    .navPages{
        display: flex;
        /*display: block;*/
        flex-direction: column;
        align-items: flex-end;
        transition: height .3s linear;
        /*overflow: hidden;*/
        visibility: hidden;
        cursor: pointer;
        width: 45%;
        margin-top: 0px;
        font-size: 13px;
    }   

    .navPages >li a{
        color: black;
        width: 105px;
    }

    .navPages >li{
        width: 105px;
    }

    .appear {
        height: 100px;
        visibility: visible;
    }
}
