*{
    margin: 0;
    padding: 0;
}

.headerWellcome{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: space-evenly;
    width: 100%;
    height: 160px;
    background-color: white;
    background-size: cover;
    background-repeat:no-repeat;  
    top: 0;
}

.containerLogo{
    display: flex;
    justify-content: center;
    margin-top: 35px;    
}

.logo{
    height: 50px;
    width: 290px;
}

.navMenu{
    width: 100%;
    background-color: black;
    height: 30px;
    margin-top: 45px;
}

.navPages{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*margin-top: 45px;*/
    width: 100%;
    background-size: 100%;
    height: 30px;
}

.navPages li a {
    text-decoration: none;
    color: aliceblue;

}



