*{  
    margin: 0;
    padding: 0;  
    font-family: 'Raleway', sans-serif;
   
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-size: 100%;
    font-size: 16px;
}

#containerImage{
    position: relative; 
    background: url(../imagenes/glampingFondoDesktop.png);
    background-size: cover;
    width: 80%;
    height: 525px;
}

#textKallpa{
    position: absolute;
    top: 85px;
    left: 150px;
    width: 740px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.containerLogIn{
    display: flex;
    flex-wrap: wrap;
    width: 18%;
    height: 500px;
    margin-top: 12px;
    margin-right: 12px ;
    background: #79CDB2;
    box-shadow: 10px 10px 4px rgba(64, 107, 94, 0.87);
}

.formHome{
    display: flex;
    flex-flow: column wrap; 
}

.label{
    padding-bottom: 35px;
    margin-left: 10%;
}

.containerLogIn  span{
    margin-top: 20%;
    font-size: 21px;  
    font-weight: bold; 
    margin-left: 30%;
    width: 300px;
    height: 30px;
   
}

.containerForm{
    margin-bottom: 15px;
}

input{
    width: 85%;
    height: 30px;
    
}
.link{

    display: flex;
    justify-content: center;
    width: 100%;
}

.containerButton{
    display: flex;
    justify-content: start;
    margin-left: 28px ;
    height: 30px;    
}

.button{
    width: 80px;
    height: 30px;
    color: aliceblue;
    background: #000000;
    border-radius: 20px;
    
}
#containerLogUp{
    display: none;
    padding-top: 3%;
    box-sizing: border-box;
}
.containerFormLogUp{
    margin-top: 15%;
    margin-bottom: 20px; 
}
#spanLogUp{
    margin-bottom: 20px;

}

.mainBackgroundContainer{
    display: flex;
    width: 100%;

}

.mainBackground{
    background: url(../imagenes/fondoMontaña.svg);
    background-size: cover;
    width: 100%;
    height: 525px;
    margin-left: 150px;
    position: relative;

}

h2{
    margin-top: 5px;
    margin-left: 10px;
    width: 250px;
    font-size: 22px;

}

footer{
    height: 70px;
    width: 100%;
    background-size: 100%;
}

.contentFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 70px;
    width: 100%;
    background-size: 100%;
    margin-bottom: 0;
}

.logoFooter{
    width: 35px;
    height: 30px;
    margin-right: 20px;
}

.logoFooter >img {
    width: 35px;
    height: 30px;
}

.copyright{
    color: blanchedalmond;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

